<!-- A placeholder to allow defining custom metadata -->

<link rel="me" href="https://mastodon.social/@p_vader" />
<link rel="me" href="https://mastodon.social/@serjor" />
<link rel="me" href="https://mastodon.social/@leillo1975" />
<link rel="me" href="https://mastodon.social/@odintdh" />
<link rel="me" href="https://mastodon.social/@son_link" />
